<div class="container">
    <div class="title">
        <h1>Angular Pipes</h1>
    </div>
    <div class="content">
        <h3>Pipes</h3>
        <p>Pipes used to transform strings, currency amounts, dates, and other data for display. Pipes are simple
            functions to use in template expressions to accept an input value and return a transformed value. Angular
            provides built-in pipes for typical data transformations. <br><br>The following are commonly used built-in
            pipes
            for
            data formatting:
        </p>
        <ul>
            <li><code>date</code></li>
            <li><code>currency</code></li>
            <li><code>uppercase</code></li>
            <li><code>lowercase</code></li>
            <li><code>percent</code></li>
            <li><code>decimal</code></li>
        </ul>
    </div>
</div>