<div class="main-header">
    <div class="game-logo">
        <h1>Cranky Pipes!</h1>
    </div>
    <div class="level-indicator">
        <div class="previous">
            <img src="assets/icons/square-caret-left-regular.svg" alt="">
        </div>
        <div class="current"></div>
        <div class="next">
            <img src="assets/icons/square-caret-right-regular.svg" alt="">

        </div>
    </div>
    <div class="player-name">
        <h3>User Name Here:</h3>
    </div>
    <div class="login-user">
        <img src="/icons/circle-user-regular.svg" alt="">
    </div>
</div>


















<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
